/* :global(footer, nav, [role="banner"]) {
  display: none !important;
} */

:global(.plugin-pages nav) {
  display: none !important;
}

:global(.plugin-pages footer) {
  display: none !important;
}

:global(.plugin-pages a) {
  color: #fff;
}

.stickyScrollContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
}
.stickyScrollContainer > section {
  scroll-snap-align: start;
  position: sticky;
  top: 0;
  flex: 0 0 100vh;
  margin-top: -40px;
  /* overflow: auto; */
  padding-bottom: 200px;
  border-radius: 40px 40px 0 0;
  background-image: none;
}

.stickyScrollContainer > section:nth-child(1) {
  background-image: url("/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #5200ff;
  background-blend-mode: screen;
  image-rendering: pixelated;
  flex: 0 0 928px;
  overflow: hidden;
  border-radius: 0;
  padding: 40px;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .navbar a span {
    display: none;
  }
}

.navbarLink {
  color: #fff;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #000;
  color: #fff !important;
  text-align: center;
  font-family: Silkscreen;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}

.startButtonInverted {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  color: #000 !important;
  text-align: center;
  font-family: Silkscreen;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none !important;
}

.versionNumber {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-family: Silkscreen;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.stickyScrollContainer > section:nth-child(2) {
  /* top: 400px; */
  /* bottom: 0; */
  /* flex: 0 0 100vh; */
  position: relative;
  height: fit-content !important;
  padding-left: 0;
  padding-right: 0;
}

.stickyScrollContainer > section:nth-child(3) {
  padding-top: 40px;
}

.stickyScrollContainer > section:nth-child(3) > div {
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: white;
  z-index: -1;
  mix-blend-mode: multiply;
}

.stickyScrollContainer > section:nth-child(3) > p {
  max-width: 940px;
  padding: 0 20px;
  margin: 300px auto 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.stickyScrollContainer > section:nth-child(3) > p > span {
  color: #fff;
  text-align: center;
  font-family: Silkscreen;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  width: 100%;
  background: #fff;
}

.summary {
  color: #5200ff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
  padding-top: 40px;
  padding-bottom: 140px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
}

.silkscreen {
  font-family: Silkscreen;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  list-style-type: none;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  padding: 40px;
}

.features > li {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  color: #5200ff;
  padding: 60px;
}

.features > li:nth-child(1) {
  background: #ffff7d;
  padding-bottom: 0;
}

.features > li:nth-child(2) {
  background: #ffdded;
  padding-bottom: 0;
}

.features > li:nth-child(3) {
  flex-direction: row;
  background: #c9ffe0;
  padding-bottom: 60px;
  grid-column: span 2;
  /* min-width: 600px; */
}

@media (max-width: 719px) {
  .features > li:nth-child(3) {
    flex-direction: column;
    grid-column: span 1;
  }
  .features > li:nth-child(3) > .featureImageContainer {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
  }
}

.features > li > .featureImageContainer {
  display: flex;
  justify-content: center;
  margin-left: -60px;
  margin-right: -60px;
  padding: 40px;
}

.features > li:nth-child(1) > .featureImageContainer {
  margin-top: -160px;
}

.features > li:nth-child(2) > .featureImageContainer {
  margin-top: -60px;
  padding-bottom: 20px;
}
.features > li:nth-child(3) > .featureImageContainer {
  margin: 0;
  margin-left: -60px;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  padding-right: 100px;
}

.features > li > .featureText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features > li h3 {
  color: #5200ff;
  font-family: Silkscreen;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 102.941% */
  word-wrap: normal;
}

.features > li p {
  color: #5200ff;
  font-family: "Work Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}

.featureSvg {
  height: 256px;
  width: 256px;
}

.callToActionContainer {
  border-radius: 40px;
  color: #c9ffe0;
  background: #5200ff;
  height: fit-content;
  padding-bottom: 400px;
}

@media (max-height: 720px) {
  .callToActionContainer {
    position: relative !important;
  }
  .callToActionContainer p {
    margin-top: 100px !important;
  }
}

.footerContainer {
  border-radius: 40px;
  color: #c9ffe0;
  background: #000;
  /* height: 400px; */
  padding: 300px 40px;
  /* display: flex; */
  flex-direction: column;
}

.footerContainer .innerGrid {
  display: grid;
  grid-gap: 140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 900px;
  margin: auto;
}

.footerContainer .logoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footerContainer h3 {
  color: #fff;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footerContainer h4 {
  margin-top: 235px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.footerContainer p {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.footerContainer ul {
  list-style-type: none;
  padding: 0;
}

.footerContainer ul li {
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 225% */
  text-decoration-line: underline;
}

.footerContainer .listGrid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
